div#insideDetail
{
	position:absolute;
	width:100%;
	height:100%;
}

#img-container1
{

    position: absolute;
    height: 100%;
    width: 100%;
	margin:0px;
	padding:0px;
}

#first
{
	position:absolute;
	width:30%;
	height:23%;
	top:5%;
	left:35%;
	margin:0px;
	padding:0px;
	background-color:#f80207;
    border:100px #f80207;
	border-radius:50px;
	box-shadow:0 0 40px grey;
	Font-weight:bold;
	Font-size:3em;
	color:black;
	display:table;
}
#second
{
	position:absolute;
	width:30%;
	height:23%;
	top:38%;
	left:35%;
	margin:0px;
	padding:0px;
	background-color:#feff01;
	border:100px #feff01;
	border-radius:50px;
	box-shadow:0 0 40px grey;
	color:black;
	Font-size:3em;
	Font-weight:bold;
	display:table;
}
#third
{
	position:absolute;
	width:30%;
	height:23%;
	top:71%;
	left:35%;
	margin:0px;
	padding:0px;
	background-color:#03fe03;
	border:100px #03fe03;
	border-radius:50px;
	box-shadow:0 0 40px grey;
	color:black;
	Font-size:3em;
	Font-weight:bold;
	display:table;
}
.blocks
{
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
#first a:hover, a:active
{
	color:rgb(44,156,192);
	cursor:pointer;
}
#second a:hover, a:active
{
	color:rgb(44,156,192);
	cursor:pointer;
}
#third a:hover, a:active
{
	color:rgb(44,156,192);
	cursor:pointer;
}